
body{
    padding: 0;
      margin: 0;
  }  
  div{
      font-size: 20px;
  }
  h1{
      text-align: center;
      font-size:2em;
      text-decoration: underline;
  }
  
  div.frist{
    display:flex;
  }
  div.secnd,.thrd {
      display: block;
      text-align: center;
      border: 2px solid black ;
      border-radius: 24px;
      display:flex;
      
      
  }

    div.pos{
      margin-bottom:-300px;  
    }
  
  img.alphaimage{
      margin-left: 320px;
      margin-top: 10px;
      width: 60%;
      margin-bottom: -200px;
  }
  
  img.firstimage{
      padding-left: 11px;
      border-radius:5%;
  }
  img.secondimage{
      padding-right:11px;
      border-radius:5%;
      width:100%;
  }
  p{
      display: inline-flex;
      padding:6px;
      width:50vmin;
      height:35vmin; 
      justify-content:space-around;
      flex-direction:column;
      display: flex;
      position:relative;
      word-wrap: break-word;
  }
  
  
  
  
  /* navigation bar */
  
  ul.navigation
  {
    list-style-type:none;
    margin-top: -10px; /* space between the side of the website to list */
      padding: 0px; /* adds space in between the individual list */
      overflow: hidden; /* overflow:hidden is added to the ul element to prevent li elements from going outside of the list.*/
      background-color: black;
      position : sticky;/* makes the entire list stick to the top*/
      top: -10px; /*  stating it as top makes the sticky bar stick at the top. bottomw will make it stick to the bottom*/
  }
  ul.navigation2
  {
    list-style-type:none;
    margin-bottom:-300px;
    margin-top: -10px; /* space between the side of the website to list */
      padding: 0px; /* adds space in between the individual list */
      overflow: hidden; /* overflow:hidden is added to the ul element to prevent li elements from going outside of the list.*/
      background-color: black;
      position : sticky;/* makes the entire list stick to the top*/
      top: -10px; /*  stating it as top makes the sticky bar stick at the top. bottomw will make it stick to the bottom*/
  }
  
  ul.navigation li,.navigation2 li{
      float:left; /*  makes the list horizontal from left to right */
  }
  
  ul.navigation li a{
  
    display: block;/* makes the individual list into blocks */
    color: white;
    text-align: center;
    padding: 14px 36px; /* adds space in between the individual list */
    text-decoration:none;
  }
  
  ul.navigation li a:hover{       /* hover allows the blocks that the mouse is over to turn black*/
      background-color:#555;
  }
  
  ul.navigation li a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  ul.navigation li.right{float:right;}
  
  ul.navigation .active {
    background-color: #04AA6D;
  }

/*--------------------------------------------------*/



  /* css for the gas prices*/
  

  div.wrap{
      border: 1px solid white;
      position: absolute;
      width: 40vw; /* width of the box*/ 
      transform: translate (-50%, -50%); /* helps manipulate the div ( left x top) */
      top:8%;
      left:30%;
      display: flex;
      column-gap: 5px;
      justify-content: space-around;
      column-gap: 10px;
      
  
  }
  
  div.gasprice{
      
      width: 28vmin;
      height: 28vmin;
      border:1px solid black;
      display:flex;
      flex-direction: column;
      justify-content: space-around; /*  the contents space around*/
      padding:1em 0;
      position:relative;
      font-size:16px;
      border-radius:0.5em;
      background-color: white;
      border-bottom: 10px solid red;
       
  }
  
  i{
      color:#191EFA;
      font-size:2.5em;
      text-align:center; 
  }
  span.number{
      color:black;
      display: grid;
      place-items:center; /*  numbers are moved centrally*/
      font-weight: 600;
      font-size: 3em;
        transition: --num 1s;
    counter-reset: num var(--num);
  }
  span.number :hover {
    --num: 10000;
  }
  span.number :after {
    content: counter(num);
  }
  span.text{
      color:black;
      font-size:1em;
      text-align: center;
      padding:0.7em 0;
      font-weight:400;
      line-height: 0;
  }
  

/* Items page*/

/* div.ad{
    width:100%;
    height:auto;
}
*/

div.title{
    background-color:#11dc92;
    border-style:solid;
    text-decoration: none;
 

}
h1.first{
    text-decoration: none;
}
div.item{
    margin:5px;
    
}
div.description{
    padding:4px;
    text-align:center;
}
div.image{
    width:100%; /* Because the width and height has all ready been set at the html level. Just need to make it tidier here as well*/
    height:auto;
    z-index:auto;
}
div.item:hover{
 border: 1px solid black; /*When u hover it pops up with that border*/
}

div.shopping-cart{
    margin-top: 0px;
    display:inline-flex; /* Makes the whole div into one line */
  
    margin-left:50px;
    
 }
div.shopping-cart2{
    margin-top:50px;
    display:inline-flex;
    
    margin-left:150px; 

}
div.shopping-cart3{
    margin-top:100px;
    display:inline-flex;
    
    margin-left:150px; 

}
  

  @media screen and (max-width: 1980px){
    
  
      div.secnd{
      margin: 50%;
      margin-left:270px;
      margin-right: 270px;
  }
  div.thrd{
      margin:30%;
      margin-left:270px;
      margin-right: 270px;
  }


  }
  @media screen and (max-width: 1180px){
    div.shopping-cart
  {
    margin-left:-12px;
    margin-right:0px;
    
  }
  div.shopping-cart2
  {
    margin-left:-12px;
    margin-right:0px;
  }
  div.shopping-cart3{
    margin-left:-12px;
    margin-right:0px;
  }
    
    h1.first{
        text-decoration:none;
      }
      div.secnd{
      margin: 30%;
      margin-left:270px;
      margin-right: 270px;
  }
  div.thrd{
      margin:30%;
      margin-left:270px;
      margin-right: 270px;
  }
} 
  @media screen and (max-width: 1024px) {
      /* detail of the gas price icons. etc size incr/decr & secnd/thrd*/
     
    
      div.title{
        margin-top: -1px; 
        text-align:center;
       
     }
      div.wrap{
          width:55vw;
       
      }
      div.gasprice{
          height:26vmin;
          width: 26vmin;
          font-size: 12px;
      }
      
      div.secnd{
          margin-left: 250px;
          width: 60%;
      }
      
      div.thrd{
          width: 60%;
          margin-left: 250px;
      }
      p.firsttext{
          width:27%;
          
      }
      img.firstimage{
          width:70%;
          border-radius:9%;
      }
      img.alphaimage{
          margin-left: 250px;
          margin-bottom: -200px;
      
      }
      
  }
  
  @media screen and (min-width: 900.5px)
  {
    ul.navigation,.navigation2{
        margin-right:-137px;
    }
    div.title{
        margin-right:-137px;
    }
    div.shopping-cart
    {
      margin-left:-1px;
      margin-right:0px;
      
    }
    div.shopping-cart2
    {
      margin-left:-1px;
      margin-right:0px;
    }
    div.shopping-cart3{
      margin-left:-1px;
      margin-right:0px;
    }
  }
@media screen and (max-width: 900px) {
    /* window size increase/decrease the navigation panel & Gas price handle*/
    div.title{
        margin-left:100px;
        margin-top:0px;
        margin-bottom:200px;
        margin-right:-285px;
    }  
    body{
          margin: 0px;
      }
      h1.first{
        text-align:center;
      }
    ul.navigation{
        list-style-type: none;
        margin:0;
        padding:0;
        width:25%;
        height:110%;
        position:fixed;
        overflow: hidden;             
  }

 ul.navigation li a{
  /* display: block;
 padding: 14px 36px; /* this (px) either stretch or reduces the width and height of the blocks   {H X W X L} 
            
text-align: center; */
 display:block;
 margin-left: -50%;     
 color: white;
 padding: 8px 86px ;
 text-decoration: none;
         
}
     
div.shopping-cart{
     display:inline-block;
     margin-left:215px;
     margin-top:-130px;
     margin-right:15px;
     margin-bottom:-400px;
    width:34.5%;
    height:50%;
}      
div.shopping-cart2{
  display:inline-block;
  margin-top:-115px;
  position:absolute;
  width:34.5%;
  height:50%;
    
}
div.shopping-cart3{
  display:inline-block;
  margin-left:795px;
  margin-top:-1075px;



}
      
div.frist {
   margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
      margin-bottom: -70%;
    

}
img.firstimage{
          width:70.5%;
      
}
img.alphaimage{
          margin-left: 240px;
          margin-top: 0px;
          margin-bottom: -170px;
}
}

@media screen and (max-width:768px) {
   
ul.navigation{
  width:17%;
}
div.title{
  margin-right:-427px;
}
div.shopping-cart{
        margin-left: 140px;
        margin-top:-200px;
        margin-right:90px;
        display:inline-block;
        width:42%;
        height:47%;
      }
div.shopping-cart2{
        margin-top:-200px;
        display:inline-block;
        width:42%;
        height:47%;
      }
div.shopping-cart3{
        margin-left:800px;
        
      }
      div.wrap{
          width: 90vw;
          flex-wrap: wrap;
          column-gap:30px;
          
      }
      div.gasprice{
          width: calc(50% -40px);
          height:30vmin;
          font-size: 14px;
          
      }
      div.secnd{
          margin-left: 200px;
      
      }
      div.thrd{
          margin-left:200px;
      }
      img.firstimage{
          width:70%;
          border-radius:8%;
      }
      img.alphaimage{
          width: 60%;
          margin-top: 0px;
          margin-left: 200px;
          margin-bottom: -150px;
      }
  }
  
@media screen and (max-width: 610px){
ul.navigation{
width:27%;
}
div.title{
margin-right:-515px;
}
    
div.secnd{
 margin-left:170px;
}
div.shopping-cart{
  display:inline-block;
  width:52%;
  margin-left:150px;
  margin-right:20px;
}
div.shopping-cart2{
display:inline-block;
 margin-right:-100px;
 width:52%;
}
div.shopping-cart3{
display:inline-block;
margin-left:714px;
}

div.thrd{
 margin-left: 170px;
}
img.firstimage{
 width:69.9%;
border-radius: 7%;
}
img.alphaimage{
  width:60%;
  margin-left: 150px;
  margin-top: 0px;
  margin-bottom: -130px;
}
}
  
 /* @media screen and (max-width: 515px){
      div.secnd{
          margin-left:140px;
      }
      
      div.thrd{
          margin-left:140px;
      }
  }
  */
@media screen and (min-width:480px){

div.wrap{          
 column-gap:11px;   
}
div.gasprices{
width:100%;
height:25vmin;
font-size:8px;      
}  
} 